.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 20px;
    /* width: 100%; */
    /* max-height: 400px; */
    min-width: 100px;
    background-color: white;
    z-index: 1;
		width:20vw;
		/* background-color: blue; */
		margin-bottom: 50px;
		box-shadow:2px 4px 8px 1px #94999c, -2px -4px 8px 1px #94999c;
		border-radius: 1%;
		box-sizing: border-box;
		height:calc(100vh / 1.5);
  }

	@media(max-width: 768px){
		.product{
			width:80vw;
			margin:auto;
	}
	}
	
  
  .product__rating {
    display: flex;
    flex-direction: row;
  }
  
  .product > img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
  }
  
  .product > button {
		padding: 2px;
    background: #f0c14b;
    border: 1px solid;
		border-radius: 5%;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
  }
  
  .product__price {
    margin-top: 5px;
  }
  
  .product__info {
    height: 100px;
    margin-bottom: 15px;
  }